.comment-space {
  max-width: 66%;
  margin: 0 auto;
  padding: 20px;
}

.comments {
  margin-bottom: 20px;
}

.h2 {
  color: var(--main-color);
}

.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.user {
  font-weight: bold;
  font-family: "Poppins";
  color: var(--main-color);
}

.date {
  font-family: "Poppins";
  font-size: 0.8em;
  color: #190707;
}

.rating {
  margin-bottom: 5px;
}

.rating span {
  cursor: pointer;
  font-size: 1.2em;
  color: #ff9800;
}

.content {
  margin-top: 5px;
  font-family: "Poppins";
}

.comment-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Poppins";
  border-radius: 30px;
}

.comment-form h3 {
  margin-top: 0;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-form button {
  position: relative;
  background-color: #aa00ff;
  left: 35%;
  width: 30%;
  color: white;
  border: none;
  padding: 35px 30px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.liner-top {
  position: relative;
  left: -164px;
  width: 169vh;
  padding: 70px;
}

.liner-down {
  position: relative;
  left: -164px;
  width: 169vh;
  padding: 80px;
}

#boutton {
  font-family: "Bebas Neue";
  padding: 2%;
  background-color: rgba(0, 0, 255, 0.363);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.comment-form button:hover {
  background-color: #000000;
  transform: scale(0.9);
}
