.container {
    display: flex;
    justify-content: center;
    right:10px;
    width: 100vw;
    height: 70vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.element-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    
    width: 55%;
     
  }

.element-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;

}
  
   

.usedata{
    display: flex;
    width: 100%;
    
    justify-content: space-between;
          
}

.usedata-2 {
    display: flex;

    width: 100%;
    justify-content: space-between;
     

}


.Home {
    
    height: 10%;
    width: 100%;
    
}

.position {
    display: flex;
    justify-content: space-between;
    width: 100%;

    


}


#ville {
    width: 100%;
    padding: 8px;
    border: none;
    border: 3px solid #000000;
    border-radius: 20px; 
}
  
#codePostal {
    width: 100%;
    padding: 8px;
    border: none;
    border: 3px solid #000000;
    border-radius: 20px; 
}
   

label {
    font-weight: bold;
}
  
#nom {
    width: 106%; 
    padding: 8px;
    border: none;
    border: 3px solid #000000;
    border-radius: 20px; 
}

#prenom {
    position:relative;
    left: -10%;
    width: 110%;
    padding: 8px;
    border: none;
    border: 3px solid #000000;
    border-radius: 20px; 
}

.prenom {

    position: relative;
    left: -27px ;
    
}
  
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: none;
    border: 3px solid #000000;
    border-radius: 20px;  
}

input[type="tel"] {
    width: 100%;
    padding: 8px;
    border:3px solid #000000;
    border-radius: 20px;
}
  
input[type="adresse"]{
    width: 100%;
    padding: 8px;
    border: 5px solid #000000;
    border-radius: 20px;
}
  
button[type="submit"] {
    position: relative;
    height: 180px;
    left: 50px;
    width: 44%;
    padding: 53px;
    background-color: #9942f6;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
     
}
  

button[type="submit"]:hover {
    
    background-color: #ff0000;
    scale: 0.9;
    

}

   