* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #00008b;
  --secondary-color: #7b7b7b;
  --star-color: #fcb340;
  height: 100vh;
  width: 100vw;
}
body {
  background: linear-gradient(rgba(0, 0, 139, 0.1) 0%, white);
  background-repeat: no-repeat;
}
#app {
  width: 100vw;
  height: 100vh;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
  font-weight: regular;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-Thin.ttf);
  font-weight: thin;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: extra-bold;
}
button {
  font-family: "Bebas Neue";
}
h2 {
  font-family: "poppins";
  font-weight: bold;
}
ul {
  list-style: none;
  font-family: "poppins";
}
a {
  text-decoration: none;
}
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes horizontalement */
}
.hero-card {
  margin: 10px;
  width: 20%;
}
.show-more {
  display: flex;
  width: 100%;
  justify-content: center;
}
.show-more > button {
  background-image: linear-gradient(
    to right,
    #7b7b7b 0%,
    #eef2f3 51%,
    #8e9eab 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}
.show-more > button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.search-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 2rem;
}

/* VERSION MOBILE */
@media screen and (max-width: 744px) {
  .hero-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .hero-card {
    width: 95%;
    margin: 10px 0;
  }
  .search-menu {
    margin: 2rem 0;
  }
}
/* VERSION TABLETTE */
@media screen and (min-width: 744px) and (max-width: 1124px) {
  .search-menu {
    margin: 2rem 0 2rem;
  }
  .hero-card {
    width: 30%;
  }
  .hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
