@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  font-family: "poppins";
}
a {
  text-decoration: none;
}
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes horizontalement */
}

.hero-card {
  margin: 10px;
  width: 20%;
}
.show-more {
  display: flex;
  width: 20%;
}
.show-more > button {
  background-image: linear-gradient(
    to right,
    #7b7b7b 0%,
    #eef2f3 51%,
    #8e9eab 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}

.show-more > button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
