.profilHero {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.profilHero > img {
  width: 320px;
  height: 300px;
  border-radius: 25px;
}
.nameHero {
  font-size: 2rem;
}
.titletextHero {
  display: flex;
  flex-direction: column;
}
.textHero {
  margin-top: 1rem;
  width: 25rem;
  font-family: "poppins";
  font-size: 13px;
  font-weight: 200;
}

.price {
  font-family: "poppins";
  font-weight: bold;
  color: #6060c1;
}
