.background {
  height: 100vh;
  background-image: url("/src/assets/images/entree-nicos.jpg");
  background-size: cover;
  object-fit: fill;
  background-repeat: no-repeat;
  /* margin-top: -100px; */
}
.header {
  display: flex;
  justify-content: flex-end;
  width: 113%;
}
.login {
  margin-left: 18%;
}
.login,
.sign {
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  margin-right: 2.5rem;
  background-color: transparent;
  color: var(--main-color);
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--main-color);
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.logo-entry {
  max-width: 15%;
}
.banniere {
  margin-top: 3rem;
}
.text-entry {
  color: white;
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 5rem;
  margin-top: 4rem;
  font-family: "poppins";
  font-size: 1.5rem;
  font-weight: 300;
}
.button-entry {
  width: 25rem;
  height: 6rem;
  border-radius: 1rem;
  background-color: transparent;
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: 600;
}
/* mobile */
@media screen and (max-width: 744px) {
  .background {
    height: 100vh;
    background-image: url("/src/assets/images/entree-nicos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -100px; */
  }
}

/* tablette */
@media screen and (max-width: 1024px) {
  .background {
    height: 100vh;
    background-image: url("/src/assets/images/entree-nicos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -100px; */
  }
}
