.background {
  height: 100vh;
  background-image: url("/src/assets/images/entree-nicos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
}
.button-user {
  display: none;
}
.log-responsive-entry {
  display: none;
}
.button-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  align-items: flex-end;
}

#log-out {
  position: absolute;
  font-family: "Poppins";
  color: white;
  font-weight: 400;
  left: 84%;
  top: 13%;
}
#log-in {
  font-family: "poppins";
  position: absolute;
  color: white;
  left: 84%;
  top: 17%;
}

.button-header img {
  width: 6%;
  height: 90%;
  border-radius: 50px;
  object-fit: cover;
  margin: 1% 0 1% 89%;
}
.logo-header {
  margin-top: -4%;
}
.logo-entry {
  max-width: 28%;
  margin-left: auto;
}
.user-responsive {
  display: none;
}
.login {
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border: none;
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.7);
  margin-top: 10%;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.logo-responsive {
  display: none;
}
.banner {
  margin-top: 0.5rem;
}
.text-entry {
  color: white;
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  font-family: "poppins";
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: black 1px 0 20px;
}
.button-entry {
  width: 25rem;
  height: 6rem;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  border: 2px solid white;
  box-shadow: black 5px 5px 10px 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button-entry:hover {
  transform: scale(1.2);
}

/* mobile */
@media screen and (max-width: 744px) {
  .login {
    display: none;
  }
  .button-header img {
    width: 12%;
    border-radius: 50px;
    object-fit: cover;
  }
  .logo-entry {
    margin-top: 1.5rem;
    max-width: 48%;
  }
  .log-responsive-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 9%;
    left: 80%;
    width: 16%;
  }
  .button-header {
    margin-right: 15%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    align-items: flex-end;
  }
  .button-user {
    margin-top: 5%;
    display: block;
    border: none;
    color: var(--main-color);
    background-color: transparent;
    font-size: 2rem;
  }
  #log-out {
    left: 72%;
    top: 8%;
    font-size: 0.8rem;
  }
  #log-in {
    left: 73%;
    top: 11%;
    font-size: 0.8rem;
  }
  .banner {
    margin-top: 1.5rem;
    width: 80%;
  }
  .button-entry {
    width: 15rem;
    height: 5rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .text-entry {
    margin-top: 5rem;
    font-size: 1rem;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/* tablette */
@media screen and (min-width: 744px) and (max-width: 1124px) {
  .background {
    height: 100vh;
    background-image: url("/src/assets/images/entree-nicos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -100px; */
  }
  #log-out {
    left: 83%;
    top: 9%;
    font-size: 1rem;
  }
  #log-in {
    left: 83%;
    top: 10%;
    font-size: 1rem;
  }
  .button-header img {
    width: 10%;
    border-radius: 100%;
    margin: 1% 6% 1% 89%;
  }
  .banner {
    margin-top: 4rem;
  }
  .text-entry {
    margin-top: 5rem;
  }
  .button-entry {
    margin-top: 5rem;
  }
}
