.search-bar {
  font-family: "poppins";
  color: var(--main-color);
  font-size: clamp(1rem, 2vw, 1.5rem);
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
}

#date {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  border-right: 1px solid var(--secondary-color);
  border-radius: 30px 30px;
}

#price-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  border-right: 1px solid var(--secondary-color);
  border-radius: 30px 30px;
}

.search {
  width: 20%;
  height: 100%;
  border: none;
  border-radius: 30px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  background-color: var(--secondary-color);
  opacity: 50%;
  color: white;
}

.react-datepicker__input-container > input {
  border: 0.5px solid var(--secondary-color);
  width: 12rem;
  height: 2rem;
  border-radius: 30px;
}

#price {
  border: 0.5px solid var(--secondary-color);
  width: 12rem;
  height: 2rem;
  border-radius: 30px;
}
