/* style des bouttons connexion */
.connexion > button {
  color: var(--secondary-color);
  background-color: rgba(0, 0, 139, 0.1);
  cursor: pointer;
}

.connexion {
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
.button-responsive {
  display: none;
}

/* style de la bannière */
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
}
#click-to-accueil{
  width: 50%;
}

#logo {
  display: none;
}

#banniere{
  width: 70%;
  margin-left: 5rem;
}
/* style du burger menu */
.burgermenu {
  color: white;
}
.burgermenu-link {
  font-weight: 600;
  font-size: clamp(0.6rem, 2vw, 1rem);
}

.burgermenu-items:hover {
  border-bottom: 0.1rem solid white;
  transition-duration: 0.2s;
}

.burgermenu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  margin-top: 0;
  height: 100vh;
  max-width: 20%;
  padding: 4rem;
  visibility: hidden;
  background-color: rgba(123, 123, 123, 0.9);
  left: 0;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}
.show-burger .burgermenu-links {
  width: 17rem;
  visibility: visible;
}
.burgermenu-link {
  display: block;
  padding: 1.5rem 0;
  color: inherit;
}
.burger-bar {
  z-index: 1;
  position: absolute;
  border: none;
  padding: 1%;
  background-color: transparent;
  cursor: pointer;
}
.hide-burger .burger-bar path {
  fill: var(--secondary-color);
}
.show-burger .burger-bar path {
  fill: white;
}

.burgermenu-items {
  width: 50%;
}

/* VERSION MOBILE */
@media screen and (max-width: 744px) {
  /* display du logo */
  .logo {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
  }
  .logo a {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  #banniere {
    display: none;
  }
  #logo {
    display: block;
    width: 70%;
  }
  /* display section connexion */
  .connexion {
    display: none;
  }
  .button-responsive {
    display: block;
  }

  .button-responsive svg {
    height: 24px;
    width: 24px;
  }
  .button-responsive button {
    border: none;
    background-color: transparent;
    color: var(--main-color);
  }
  .button-user {
    padding-top: 0.2rem;
  }
  .log-responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 7%;
    width: 100%;
    left: 89%;
  }
  .log-responsive button {
    padding-top: 0.5rem;
    cursor: pointer;
  }
  .log-responsive button:hover {
    border-bottom: 0.1rem solid var(--main-color);
    transition-duration: 0.2s;
  }
  /* display du boutton burger */
  .burger-bar svg {
    height: 36px;
    width: 36px;
  }
  .burger-bar {
    padding: 0;
  }
  .burgermenu-links {
    padding: 10% 0;
  }
  .hide-burger .burger-bar path,
  .button-responsive path {
    fill: var(--main-color);
  }
  /* section des boutons */
  .button-container {
    margin: 0.5rem;
  }
}

/* VERSION TABLETTE */
@media screen and (min-width: 744px) and (max-width: 1124px) {
  .logo {
    margin: 2rem 0 0 0;
  }
  #banniere {
    width: 100%;
  }
  #click-to-accueil {
    width: 60%;
  }
  .connexion > button {
    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-left: 0;
    width: 6rem;
    font-size: 1.2rem;
  }
  .burgermenu-links {
    padding: 2rem;
  }
}
